@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
  --color1: green;
  --color4: yellow;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Fredoka One', cursive;
}

header{
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left:0;
}